.organization-tab-content {
	width: 100%;
	height: 100%;
	display: flex;
}

.packages-aside {
	padding: 0 1em;
	width: 25%;
	border-right: var(--var-seperator);
}

.packages-aside .aside-section {
	height: 40%;
	width: 100%;
	border-bottom: var(--var-seperator);
	border-width: 3px;
}

.packages-header {
	padding-bottom: 1em;
	border-bottom: var(--var-seperator);
	border-width: 3px;
}

.title-add-button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-search {
	width: 100%;
	display: flex;
	justify-content: center;
	border: none;
}

.search-packages-input {
	width: 75%;
	padding: 0.25em 0.25em 0.25em 1.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0px 2px 7.5px 1px rgba(0, 0, 0, 0.25);
    background: #FBF9FF;
    flex-shrink: 0;
}

.packages-aside .content-body {
	height: 50%;
	overflow-y: auto;
	overflow-x: auto;
}

.packages-aside-item, .content-role {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.packages-aside-item:hover {	
	color: var(--var-accent-color);
	text-decoration: underline;
    transition: var(--var-transition);
    transition-duration: 0.5s;
	cursor: pointer;
}

.packages-content {
	width: 75%;
}