.module-element-buttons {
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

.module-element-buttons button {
    margin: 0.5em;
    width: 2.5em;
    height: 1.5em;
    font-size: medium;
}