
/* Defines how to display the package button on the studio navigation */
.studio-nav-package {
    padding-left: 1.5em;
    width: 90%;
    display: flex;
    text-align: left;
    align-items: center;
    text-overflow: ellipsis;
}

.studio-nav-package h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}