
.studio-nav-page {
    width: 100%;
}

.studio-nav-page > header {
    width: 90%;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.25em;
}

.studio-nav-page > header button {
    margin: 0.25em;
    transition: var(--var-transition);
}

.studio-nav-page > header button.hidden {
    opacity: 0;
    pointer-events: none;
}

.studio-nav-page-header {
    display: flex;
    text-align: left;
    align-items: center;
    cursor: pointer;
}

.studio-nav-page-header * {
    margin: 0 0.5em;
}

.studio-nav-page-icon {
    height: 1.25em;
    width: 1.25em;
    margin: 0 0.5em;
}

.studio-nav-page-items-container {
    overflow: hidden;
    
}

.studio-nav-page div[id^='studio-nav-page-'][ id$='-items'] {
    margin-top: 0;
    transition: var(--var-transition);
}

.studio-nav-page div[id^='studio-nav-page-'][ id$='-items'].collapsed {
    margin-top: -250vh;
}

.studio-nav-page-items-container-search > input {
    margin-right: 1em;
}

.studio-nav-page div[id^='studio-nav-page-'][ id$='-items'] .studio-nav-page-items-container-search {
    margin-top: 0.5em;
    margin-left: 1em;
    transition: var(--var-transition);
}

.studio-nav-page div[id^='studio-nav-page-'][ id$='-items'] .studio-nav-page-items-container-search.hidden {
    margin-top: -2em;
    
}