.organization-page {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.organization-header {
	display: flex;	
  	align-items: center;
  	margin: 20px;
	margin-bottom: 0;
}
.organization-header select {
	background-color: transparent;
  	border: none;
  	padding: 0.5rem 1rem;
  	font-size: 30px;
  	margin: 0;
	margin-right: 5px;
  	border-radius: 5px;
  	cursor: pointer;
} 
.organization-page-tab-selectors {
	display: flex;
  	align-items: center;
  	
}
.organization-page-tab-selectors p {
	
	border: 1px solid var(--var-background-accent-color);
	padding: 5px;
	font-size: large;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	border-bottom: none;
	cursor: pointer;
}
.tab.selected-tab {
	background-color: var(--var-seperator-color);
}
.organization-content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: var(--var-seperator);
	border-radius: 1em;
}
.add-organization button {
	background-color: var(--var-accent-color);
	color: var(--var-background-color);
	border: none;
	margin-left: 20px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: ease-in-out var(--var-transition);
}
.add-organization button:hover {
	background-color: var(--var-accent-color-hover);
}

button {
	padding: 0.25em  0.5em;
    background-color: var(--var-accent-color);
    color: var(--var-alternate-text-color);
    border: none;
    border-radius: 0.5em;
    transition: var(--var-transition);
    transition-duration: 0.25s;
}

button:hover {
    background-color: var(--var-accent-color-hover);
    cursor: pointer;
    transform: scale(1.05);
}
