.user-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-page button {
    background-color: var(--var-accent-color);
    color: var(--var-alternate-text-color);
    border: none;
    border-radius: 0.5em;
	width: 3rem;
	height: 2.5rem;
    transition: var(--var-transition);
    transition-duration: 0.25s;
}

.user-page button:hover {
    background-color: var(--var-accent-color-hover);
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 0.75em;
}

.user-page-header {
	width: 75%;
    height: 15%;
}

.user-page-heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-page-heading-left,
.user-page-heading-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-page-heading-left {
	justify-content: flex-start;
}

.user-page-heading-left button {
	background: none;
	border: none;
	width: 2.5rem;
	height: 2.5rem;
	margin-top: 0.5em;
	margin-right: 1em;
	color: black;
    transition: var(--var-transition);
    transition-duration: 0.25s;
}

.user-page-heading-left button:hover {
	background-color: transparent;
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 0;
	color: var(--var-accent-color);
}

.user-page-heading-right {
	justify-content: flex-end;
}

.user-page-subheading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75em;
}

.user-page-content {
	width: 70%;
    height: 85%;
	margin-top: 1.5em;
	display: flex;
	justify-content: center;
}

.user-page-content > div {
	width: 45%;
	display: flex;
    padding: 0 2em;
	flex-direction: column;
}

.user-page-content > div:first-child {
	border-right: var(--var-seperator);
}

.user-page-content-privileges-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 1.5rem;
}

.user-page-content-privileges-content {
    height: 75%;
    overflow-y: scroll;
}

.user-page-privileges {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.user-page-privileges tr {
    border-top: var(--var-seperator);
    border-bottom: var(--var-seperator);
    height: fit-content;
}

.user-page-privileges tr:first-child {
    border-top: none;
}

.user-page-privileges tr:last-child {
    border-bottom: none;
}

.user-page-privileges tr button {
    margin-top: 0.5em;
}

.user-page-privileges td, 
.user-page-privileges th {
    padding: 1em;
    width: 33%;
    border-left: var(--var-seperator);
    border-right: var(--var-seperator);
    text-align: center;
}

.user-page-privileges td:first-child, 
.user-page-privileges th:first-child,
.user-page-privileges td:last-child, 
.user-page-privileges th:last-child {
    border: none;
}

@media screen and (max-height: 800px) {
    .user-page {
        height: 100%;
    }

    .user-page-header {
        height: 25%;
    }
    
    .user-page-content {
        height: 75%;
    }
}

@media screen and (max-height: 500px) {
    .user-page {
        height: 100%;
    }

    .user-page-header {
        height: 35%;
    }
    
    .user-page-content {
        height: 65%;
    }

    .user-page-content-privileges-content {
        height: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .user-page-content {
        width: 95%;
        margin-top: 3em;
    }
}

@media screen and (max-width: 800px) {
    .user-page-content {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .user-page-content > div:first-child {
        border-right: none;
        border-bottom: var(--var-seperator);
    }

    .user-page-content > div {
        width: 75%;
    }

    .user-page-content-privileges-content {
        width: 90%;
    }
}