@{
    ViewData["Title"] = "UWG CMS - Organizations";
}

<div>
    <header>
        <div class="header d-flex align-items-center pe-5">
            <a asp-controller="Home" asp-action="Dashboard"><img src="~/images/uwg-logo-2022.jpg" class="img-fluid" /></a>
            <h5 class="ps-4">Studio</h5>
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <li class="nav-item me-3">
                    <a asp-controller="Home" asp-action="Index">Logout</a>
                </li>
                <li class="nav-item">
                    ADMIN123
                </li>
            </ul>
        </div>
    </header>
</div>

<div>
    <div class="bg-dark col-sm-4 col-md-3 col-lg-2 min-vh-100 text-white">
        <!--Insert StudioNavigation JS component if it works-->
        <h1>Studio</h1>
    </div>
    <div>

    </div>
</div>