@{
    ViewData["Title"] = "UWG CMS - Organizations";
}

<div>
    <div class="bg-dark col-sm-4 col-md-3 col-lg-2 min-vh-100 text-white">
        <!--Insert StudioNavigation JS component if it works-->
        <h1>Studio</h1>
    </div>
    <div>

    </div>
</div>