.existing-elements {
    width: 50em;
    border-radius: 2%;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: white;
    border: none;
    box-shadow: var(--var-background-shadow);
}

.existing-elements::-webkit-scrollbar {
    display: none;
}

.search-element-bar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1%;
}

.existing-element-tags {
    margin: 0 !important;
    width: fit-content !important;
}

.existing-element-tag {
    padding: 0.5em 1em;
    border: var(--var-seperator);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    transition: 0.25s;
}

.existing-element-tag:hover {
    background-color: var(--var-alternate-background-color);
    color: var(--var-alternate-text-color);
}

.existing-element-tag-selected {
    background-color: var(--var-accent-color);
    color: var(--var-alternate-text-color);
}

.existing-element-tag > * {
    margin: 0;
    padding: 0;
}

.element-cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 25em;
    margin: 0;
    border: var(--var-seperator);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

.element-card {
    transition: 0.25s;
    width: 20em;
    height: 7.5em;
    overflow-y: auto;
    box-shadow: 5px 5px 5px black;
    padding: 2%;
    border-radius: 3%;
    margin: 2%;
}

.element-card:hover {
    transform: scale(1.0125);
    box-shadow: 15px 15px 5px black;
    background-color: rgb(56 56 56);
    color: white;
}

.element-card::selection {
    background-color: var(--var-accent-color);
}

.display-selection {
    background-color: var(--var-accent-color);
    border: var(--var-seperator);
    border-color: var(--var-accent-color);
    box-shadow: 5px 5px 5px;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}

#selected-element {
    color: white;
    margin: 2%;
}

#element-dialog-add-button {
    display: flex;
    width: 30%;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    margin: auto;
}

#close-button {
    width: 2em;
    height: 2em;
}