.new-organization-dialog {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 20px;
  background-color: var(--var-background-color);
}
.dialog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
.dialog-header button {
	background-color: var(--var-accent-color);
	border: none;
	color: var(--var-background-color);
	border-radius: 0.25em;
	height: 2em;
	width: 3em;
	transition: var(--var-transition);

} 
.dialog-header button:hover {
	cursor: pointer;
	background-color: var(--var-accent-color-hover);
	transform: scale(1.1);
}
.dialog-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}
.input-label p{
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--var-text-color);
}
.dialog-body input {
  width: 100%;
  margin: 0;
  padding: 3px;
}
.dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}
.dialog-footer input {
	background-color: var(--var-accent-color);
	border: none;
	color: var(--var-background-color);
	border-radius: 0.25em;
	height: 2em;
	width: 5em;
	transition: var(--var-transition);
}
.dialog-footer input:hover {
	cursor: pointer;
	background-color: var(--var-accent-color-hover);
	transform: scale(1.1);
}